.App-Header {
  background-color: #ff8ac7;
  color: rgb(1, 1, 1);
  display: flex;
}

.App-Header .logo {
  margin-right: 30px;
}

.App-Header img {
  width: 100px;
}

.header-text {
  flex-grow: 1; 
  padding-left: 75px;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}


.App-Navigation {
  background-color: black;
  color: white; 
} 

.App-Navigation .nav-list {
  padding-left: 10px;
  padding: 20px;
  padding-bottom: 30px;

  margin: 0px;
  text-align: center;

}

.App-Navigation .nav-list li {
  display: inline;
  margin-right: 100px;
  font-weight: bold;
  float: left;
  font-size: 20px;
  font-family: "Lucida Console", "Courier New", monospace;
}


.App-Navigation .nav-list li a {
  text-decoration: none;
  color: white;
}