header {
    background-color: #ff8ac7;
    color: rgb(1, 1, 1);
    margin: 0px;
}
  
header * {
    vertical-align: middle;
    margin: 0px;
}
  
header .logo {
    margin-right: 5%;
    height: 10em;
}
  
#header-text {
    font-size: 220%;
    font-family: "Lucida Console", "Courier New", monospace;
}

nav {
    margin: 0px;
    background-color: black;
    display: block;
}
  
nav .nav-list {
    padding: 2% 0%;
    margin: 0px;
}
  
nav .nav-list li {
    padding: 2% 3%;
    background-color: black;
    color: white;
    display: inline;
    font-weight: bold;
    font-size: 20px;
    font-family: "Lucida Console", "Courier New", monospace;
    cursor: pointer;
}

nav .nav-list li:hover {
    background-color: white;
    color: black;
}
  
nav .nav-list li a {
    text-align: center;
    text-decoration: none;
    color: inherit;
}