.button { /* From react.dev */
    cursor: pointer;
    border: 0;
    line-height: 2.5;
    margin-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 34px;
    font-family: Georgia, serif;
    text-align: center;
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #ff8ac7;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}
  
.button:hover {
  background-color: #ff9ec4;
}

.buttons-container {
  margin-top: 5%; 
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.popup-container {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-body {
  text-align: center;
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.popup-button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  display: inline-block;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.popup-button.close {
  background-color: #dc3545;
}

.popup-button.close:hover {
  background-color: #c82333;
}

.howto-popup{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

}

.howto-popup-paragraph {
  font-family: Georgia, serif;
  font-size: 15px;
  text-align: left;
  padding: 20px;
  border-radius: 15px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 32%;
}