body {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-family: Georgia, serif;
}

button {
    cursor: pointer;
    border: 0;
    line-height: 2.5;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    font-family: "Copperplate", "Copperplate Gothic Light", "fantasy";
    text-align: center;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: #ff8ac7;
    background-image: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2) 30%,
      rgba(0, 0, 0, 0)
    );
    box-shadow:
      inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
}

button:hover {
    background-color: #ff9ec4;
    }