body {
    margin: 0;
    font-family: Georgia, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    background: #ffffff;
    font-size: 24px;
}
.app {
    background: #a8d5e5;
}
